body {
    margin: 0%;
    padding: 0%;
}

#map {
    top: 0%;
    height: 100%;
    width: 100%;
    position: fixed;
}

#container {
    bottom: 0%;
    left: 0%;
    position: fixed;
    min-width: 20em;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    max-height: 30em;
    overflow-y: auto;
}

#bar-chart {
    height: 200px;
    width: 15em;
    /* background-color: black; */
}