body {
  margin: 0%;
  padding: 0%;
}

#map {
  top: 0%;
  height: 100%;
  width: 100%;
  position: fixed;
}

#container {
  top: 0em;
  left: 0em;
  position: fixed;
  min-width: 20em;
  margin: 0.5em;
  padding: 1em;
  background-color: #fff;
  max-height: 30em;
  overflow-y: auto;
}

#timeline-container {
  bottom: 0%;
  left: 0%;
  position: fixed;
  min-width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #fff;
  /* max-height: 12em; */
}

#bar-chart {
  height: 200px;
  width: 15em;
  /* background-color: black; */
}

.state-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.state-info h4 {
  margin: 0 0 5px;
  color: #777;
}
