html {
  height: 100%;
}
body {
  margin: 0%;
  padding: 0%;
  height: 100%;
}

#map {
  top: 0%;
  height: 100%;
  width: 100%;
  position: fixed;
}

#container {
  top: 0em;
  left: 0em;
  position: fixed;
  min-width: 25em;
  margin: 0.5em;
  font-family: "Lato", sans-serif !important;
  /* padding: 1em; */
  /* background-color: #fff; */
  max-height: 30em;
  /* overflow-y: auto; */
}

#filters-chart {
  height: 25em;
}

#timeline-container {
  bottom: 0%;
  left: 0%;
  position: fixed;
  min-width: 100%;
  padding: 0.5em;
  /* margin: 0.5em; */
  background-color: #fff;
  /* max-height: 12em; */
}

#bar-chart {
  height: 200px;
  width: 15em;
  /* background-color: black; */
}

.state-info {
  padding: 6px 8px;
  font: 14px/16px "Lato", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.state-info h4 {
  margin: 0 0 5px;
  color: #777;
}

div {
  font-family: "Lato", sans-serif !important;
}

.reset {
  color: #aaa !important;
}

/* Loading */

/* Screen */
.loading-screen {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

/* Icon */
.loading-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading-icon:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color:#fff transparent #fff transparent;
  animation: loading-icon 1.2s linear infinite;
}
@keyframes loading-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
